.root {
	@apply list-none px-1 flex gap-2 flex-col ;
}

.title {
	@apply  tracking-widest mb-5 overflow-hidden;
	color: #42B5A4;
	white-space: nowrap;
	text-overflow: ellipsis;
	
}

.item {
	@apply w-full bg-white p-2 rounded-lg overflow-hidden flex justify-between font-bold;
	white-space: nowrap;
	color: #42B5A4;
	text-overflow: ellipsis;
}

.me{
	
	background-color: #42b5a423;
}